<a href="https://colab.research.google.com/github/AlexaMarieDonato/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Indentation

In [ ]:
if 5>2:
  print("5>2")

5>2

Python Comment

In [ ]:

#This is a comment
print ("Hello World")

Hello World

Python Variable

In [ ]:
#single value with single variable
x = 1

#single variable with multiple values
array = [1,2,3]
print (array)

#multiple variables with single value

a = b = c = "Alexa"
print (a)
print (b)
print (c)

[1, 2, 3]
Alexa
Alexa
Alexa

Casting

In [ ]:
n =int(4)
print (n)

4

Type() Function

In [ ]:
c = "sally"
d = 5.6

print (type(c))
print (type(d))

<class 'str'>
<class 'float'>

"Double Quotes" or 'Single Quotes'

In [ ]:
y = "John"
y = 'John'
print (y)

John

Case Sensitive

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a
print (a)
print (A)

Sally
4

Multiple Variables

In [ ]:
x, y, z = "one", "two", "three"
print (x)
print (y)
print (z)

one
two
three

One Value to Multiple Variables

In [ ]:
x = y = z = "four"
print (x)
print (y)
print (z)

four
four
four

Output Variable

In [ ]:
x = "enjoying"
print ("Python programming is " + x)

Python programming is enjoying

Output Variable (other way)

In [ ]:
x = "Python is "
y = "enjoying"
z = x + y
print (z)

Python is enjoying

Arithmetic Operations (Example 1)

In [ ]:
x = 5
y = 3
print (x+y)

8

Arithmetic Operations (Example 2)

In [ ]:
x = 5
y = 3
sum = x + y
sum

8

Assignment Operators

In [ ]:
a, b, c = 0, -1, 6
c%= 3
c

0

Comparison and Logical Operators

In [ ]:
a, b, c = 0, -1, 6
a>b and c>b
True

True

Identity Operators

In [ ]:
a, b, c = 0, -1, 5
a is c
False