<a href="https://colab.research.google.com/github/AlexaMarieDonato/OOP-58001/blob/main/List%2C_Tuple%2C_and_Set_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Functions

In [ ]:
def remainder(n, m):
  while True:
    if n -  m <0:
      return n
    else:
      n = n -m

  remainder (10,4)

In [ ]:
class Shapes:
  def __init__(self,length,width):
    self.length = length
    self.width = width
  def area(self):
    return self.length * self.width

rectangle = Shapes(10,5)
rectangle.area()

50

In [ ]:
class Shapes:
  def __init__(self,side):
    self.side = side
  def arearec(self):
    return self.length * self.width
  def areasqr(self):
    return self.side**2
square = Shapes(5)
square.areasqr()

25

In [ ]:
pow(10,2)
array = ["apple","banana","orange"]
array.insert(0,"cherry")
print(array)

['cherry', 'apple', 'banana', 'orange']

Activity

In [ ]:
class Persons:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  def myself(self):
    return self.name + self.age
Donato = Persons("Alexa Marie Donato"," 18")
Donato.myself()

'Alexa Marie Donato 18'

List

In [ ]:
pi = 3.14150
varList = ['abc', 1, 'def',2]
print(varList[0])

varList.append('ghi')
print(varList)
varList.remove(2)
print(varList)
varList.insert(3,3)
print(varList)

abc
['abc', 1, 'def', 2, 'ghi']
['abc', 1, 'def', 'ghi']
['abc', 1, 'def', 3, 'ghi']

Dictionaries

In [ ]:
students = {
            1:"Ana",
            2:"Billy",
            3:"Maria",
            4:"Joy",
            3:"Bessy"
}
print(students)

{1: 'Ana', 2: 'Billy', 3: 'Bessy', 4: 'Joy'}