<a href="https://colab.research.google.com/github/AlexaMarieDonato/OOP-58001/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [ ]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Break Statement

In [ ]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x == "Thursday":
    break
  print(x)          #it displays from Sunday to Wednesday

Sunday
Monday
Tuesday
Wednesday

In [ ]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x == "Thursday":
    print(x)        #it only displays Thursday
    break

Thursday

In [ ]:
#To display only Tuesday and Wednesday using break statement
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x == "Tuesday":
    print(x)
  if x == "Wednesday":
    print(x)
    break

Tuesday
Wednesday

Looping Through a String

In [ ]:
for x in "week":
  print(x)

w
e
e
k

Nested Loops

In [ ]:
adjective=["red","big","tasty"]
fruits=["apple","banana","cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While Loop

In [ ]:
i = 1
while i <= 6:
  print(i)
  i +=1     #i+1 Assignment operator

1
2
3
4
5
6

In [ ]:
#using break statement
i = 1
while i<6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
i = 1
while i<6:
  if i == 3:
    print(i)
    break
  i += 1

3

The Else Statement

In [ ]:
i = 1
while i < 6:
  print(i)
  i +=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Application 1

In [ ]:
word = ["Hello "]
number = [0,1,2,3,4,5,6,7,8,9,10]
for x in word:
  for y in number:
    print(x,y)

Hello  0
Hello  1
Hello  2
Hello  3
Hello  4
Hello  5
Hello  6
Hello  7
Hello  8
Hello  9
Hello  10

Application 2

In [111]:
i = 9
while i >= 3:
  print(i)
  i-=1

9
8
7
6
5
4
3